
<h1>Welcome back to your profile</h1>

{{#if user}}

  <h2>Welcome, {{user.username}}</h2>
  <p>This is your profile page</p>

  <button>
    <a href="/auth/profile">Reload the page</a>
  </button>

  {{#each user.recipes}}
   <h4>{{cousine}}</h4>
   <h3>{{title}}</h3>
   <img src={{imageUrl}} alt="recipe"/>
   <h4>{{duration}}</h4>
   <h4>{{ingredients}}</h4>
   <p>{{preparation}}</p>
   

   <p>{{owner.username}}</p>

<a href="/recipes/{{id}}/edit"><button>Edit Recipe</button></a>
<form action="/recipes/{{id}}/delete" method="post">
<button type="submit">Delete Recipe</button>
</form>

  {{/each}}
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}